backend/build/*
backend/vendor/*

frontent/build/*
frontend/node_modules/**

scripts/.env
backend/.env
backend/.env.production
backend/.htaccess.production
backend/public/.htaccess.production
frontend/.env
frontend/.htaccess.production
backend/tracks_cron_script.php
