backend/build/*
backend/vendor/*

frontent/build/*
frontend/node_modules/**

scripts/.env

backend/.env
backend/.env.production
backend/node_modules/*

frontend/.env
frontend/.env.production
frontend/.htaccess.production
lumen-*.log

.codegpt