.goal-list-row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid rgb(196, 195, 195);
    text-align: left;
    min-width: 450px;
}

.large-size {
    border: 2px solid red;
}

.medium-size {
    border: 2px solid orange;
}


.tagBtn {
    background-color: transparent;
    border-radius: 8px;

}

.saveBtn {
    background-color: rgb(96, 96, 244);
    border-radius: 8px;
    color: white;
}
