.goal-list-row {
    display: flex;
    flex-direction: column;
    padding: 0 0.2rem;
    margin: 0;
    border: 1px solid rgb(196, 195, 195);
    text-align: left;
}

.large-size {
    border: 2px solid red;
}

.medium-size {
    border: 2px solid orange;
}
.tag-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px 0;
}
.tagBtn {
    background-color: transparent;
    border-radius: 8px;
    width: auto;
    padding: 4px 8px;
}

.saveBtn {
    background-color: rgb(96, 96, 244);
    border-radius: 8px;
    color: white;
}

.mui-text-field {
    & .MuiOutlinedInput-root {
        height: 1.5rem;
        font-size: 0.875rem;
        margin: 0.5rem 0;
    }
    & .MuiInputLabel-root {
        font-size: 0.75rem;
    }
}
.mui-wide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 1rem 0;
}
.mui-text-field-wide {
    width: 50%;
    & .MuiOutlinedInput-root {
        height: 30px;
        font-size: 0.875rem;
        margin: 0.5rem 0;
    }
    & .MuiInputLabel-root {
        font-size: 0.75rem;
    }
}

.goal-display {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 95%;
}

.goal-main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 50%;
}
.goal-secondary-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 50%;
}
.deleteBtn {
    background-color: rgb(244, 96, 96);
    border-radius: 8px;
    color: white;
    width: 7rem;
}
