.searchField * {
    margin: 0 .5em;
  }

.items {
  margin-bottom: 1rem;
}

li a {
    border-radius: 2px;
    padding: 0.1rem 1rem;
    border: gray 1px solid;
    cursor: pointer;
  }
  li.previous a,
  li.next a,
  li.break a {
    border-color: transparent;
  }
  li.active a {
    background-color: #0366d6;
    border-color: transparent;
    color: white;
    min-width: 32px;
  }
  li.disabled a {
    color: grey;
  }
  li.disable,
  li.disabled a {
    cursor: default;
  }

  button.letter {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: underline; /* Make text underlined to mimic link */
    margin-right: 1rem;
  }

  /* Optional: Remove default button focus outline */
  button.letter:focus {
    outline: none;
  }

  /* Optional: Hover effect */
  button.letter:hover {
    color: blue; /* Change color on hover */
  }
